.teamContainer {
  position: relative;
  z-index: 10;
  overflow-x: hidden;
  margin-bottom: 200px;
}

.teamWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;

  cursor: grab;
}

.teamImageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  overflow: hidden;

  &:hover .hoverOverlay {
    opacity: 1;
    pointer-events: auto;
  }
}

.teamImage {
  width: 100%;
  height: 100%;
  min-width: 350px;
  height: 600px;
  object-fit: cover;

  user-select: none;
  -webkit-user-drag: none;
  pointer-events: auto;

  @media (max-width: 991px) {
    height: 500px;
  }
}

/* Hover overlay */
.hoverOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  border-radius: 50%;
}

/* The circle in the center */
.buttonCircle {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background: color-mix(in srgb, var(--bg-main) 80%, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  @media (max-width: 768px) {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
  }

  button {
    background: var(--text-main);
    color: var(--text-inverse);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.teamText {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: var(--bg-alt);
  padding: 15px 20px;
  border-top-right-radius: 20px;
  color: var(--text-main);
  z-index: 5;
  font-weight: 800;
  font-family: var(--font-main);
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  line-height: 1.5;

  cursor: pointer;

  span {
    font-family: var(--font-main);
    font-size: 11px;
    font-weight: 700;
    display: block;
    color: var(--text-alt);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

.sliderButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
}

.prevArrow,
.nextArrow {
  background: var(--bg-inverse);
  color: var(--text-inverse);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.disabled {
  background: var(--ui-disabled);
  color: #fff;
  transition: background-color 0.3s ease;
  pointer-events: none;
}
