.mapContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 400px;
  z-index: 5;
  overflow: hidden;
}

.map {
  width: 100%;

  iframe {
    filter: grayscale(100);
    width: 100%;
    object-fit: cover;
    height: 600px;
    position: relative;
    pointer-events: all;
  }
}
