.contactContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 200px 0;
  z-index: 6;

  @media (max-width: 880px) {
    padding: 100px 0;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(33%);
  }
}

.contactSection {
  border: none;
}

.contactContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 7;
  width: 100%;

  h2,
  h3,
  p,
  span,
  hr {
    color: #fff;
    border-top-color: var(--text-inverse);
  }
}

.info > div {
  margin-top: 0;
}
